$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;



// Colors y fuente

$blue: #666CA3;
$dark-blue: #154A5D;
$grey: #83869A;
$pink: #F74780;
$pink-light: #F74780;
$magent: #F02AA6;
$light-blue: #4851FF;
$turquese: #04AFC1;
$orange:#FCA00F;

$gradient: linear-gradient(135deg, $turquese, $dark-blue, $orange);

$primary-font: "Raleway", sans-serif;








