@use '../abstracts' as *;


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;

  @include breakpoint(desktop) {
  padding: 20px 40px; // ← más padding lateral
  }

  &__logo {
    img {
      width: 160px;
    }

    @include breakpoint(desktop) {
      img {
        width: 200px;
  }
}
  }

  &__hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: transparent;
    border: none;
    cursor: pointer;

    span {
      display: block;
      width: 25px;
      height: 2px;
      background-color: $grey;
    }

    @include breakpoint(tablet) {
      display: none; // ← oculta el hamburger en tablet
    }
  }

  &__nav {
    display: none;

    &--open {
      display: block;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: black;
      padding: 20px;
      z-index: 100;
    }

    @include breakpoint(tablet) {
      display: block; // ← siempre visible en tablet
      position: static; // ← resetea el absolute del --open
      width: auto;
      background: transparent;
      padding: 0;
    }
  }

  &__nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      display: block;
      padding: 10px 20px;
      color: $grey;
      text-decoration: none;

      &:hover {
        background-color: $orange;
        color: $turquese;
      }
    }

    @include breakpoint(tablet) {
      flex-direction: row; // ← items en fila
      gap: 0;
    }
  }
}